---
- name: install helm chart
  become: true
  hosts: master-node
  tasks:
    - name: install helm tar
      ansible.builtin.unarchive:
        src: https://get.helm.sh/helm-v4.1.0-rc.1-linux-amd64.tar.gz
        dest: /tmp/
        remote_src: yes

    - name: install python3
      yum:
        name: python3
        state: present

    - name: move helm to right dest
      copy:
        src: /tmp/linux-amd64/helm
        dest:  /usr/local/bin/helm
        mode: '0755'
        remote_src: yes

    - name: copy helm chart
      copy:
        src: /home/devops-cloud-project/helm/my-nginx-chart
        dest: /home/helm
      tags: copy-helm

    - name: install my chart with python
      script: /home/devops-cloud-project/python/helm_script.py
      args:
        executable: python3
      tags: install-helm
